<div class="sk-wrap" [class.sk-wrap--contained]="contained" role="status" aria-live="polite" [attr.aria-label]="label || null">
  <span class="sk-sr" *ngIf="label">{{ label }}</span>

  <div class="sk-grid" [ngClass]="'sk-grid--' + variant" aria-hidden="true">
    <ng-container [ngSwitch]="variant">

      <ng-container *ngSwitchCase="'cards'">
        <div class="sk-card" *ngFor="let i of items">
          <span class="sk sk--media"></span>
          <div class="sk-card__body">
            <span class="sk sk--line sk--w40 sk--sm"></span>
            <span class="sk sk--line sk--w80 sk--lg"></span>
            <span class="sk sk--line"></span>
            <span class="sk sk--line sk--w60"></span>
          </div>
        </div>
      </ng-container>

      <ng-container *ngSwitchCase="'people'">
        <div class="sk-person" *ngFor="let i of items">
          <span class="sk sk--avatar"></span>
          <span class="sk sk--line sk--w70 sk--lg"></span>
          <span class="sk sk--line sk--w40 sk--sm"></span>
          <span class="sk sk--line sk--w60 sk--sm"></span>
        </div>
      </ng-container>

      <ng-container *ngSwitchCase="'photos'">
        <span class="sk sk--photo" *ngFor="let i of items"></span>
      </ng-container>

      <ng-container *ngSwitchCase="'tiles'">
        <div class="sk-tile" *ngFor="let i of items">
          <span class="sk sk--line sk--w50 sk--xl"></span>
          <span class="sk sk--line sk--w70 sk--sm"></span>
        </div>
      </ng-container>

      <ng-container *ngSwitchCase="'list'">
        <div class="sk-row" *ngFor="let i of items">
          <span class="sk sk--block"></span>
          <div class="sk-row__body">
            <span class="sk sk--line sk--w60 sk--lg"></span>
            <span class="sk sk--line sk--w90"></span>
            <span class="sk sk--line sk--w30 sk--sm"></span>
          </div>
        </div>
      </ng-container>

      <ng-container *ngSwitchCase="'table'">
        <div class="sk-trow" *ngFor="let i of items">
          <span class="sk sk--dot"></span>
          <span class="sk sk--line sk--w80"></span>
          <span class="sk sk--line sk--w60"></span>
          <span class="sk sk--line sk--w40"></span>
          <span class="sk sk--line sk--w30"></span>
        </div>
      </ng-container>

    </ng-container>
  </div>
</div>
