<div>
  <h2 class="page-title">UPSAA Candidates</h2>

  <!-- Header -->
  <div class="header">
    <input type="text" placeholder="Search candidates" [(ngModel)]="searchTerm" />

    <button class="add-btn" (click)="openAddCandidateModal()">
      + Add
    </button>
  </div>
  <div *ngIf="loading" class="loading-wrapper">
    <div class="spinner"></div>
    <p>Loading candidates...</p>
  </div>
  <div *ngIf="!loading">
  <!-- Desktop Table -->
  <div class="table-wrapper desktop-only">
    <table class="candidates-table">
      <thead>
        <tr>
          <th>#</th>
          <th>Candidate Name</th>
          <th>Position</th>
          <th>Reason</th>
          <th style="width: 180px;">Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let candidate of pagedCandidates; let i = index">
          <td>{{ i + 1 + (currentPage - 1) * pageSize }}</td>
          <td>{{ candidate.memberName }}</td>
          <td>{{ candidate.positionName }}</td>
          <td>{{ candidate.applicationReason }}</td>
          <td>
            <button class="details-btn" (click)="viewDetails(candidate)" title="Details">Details</button>
            <button class="edit-btn" (click)="editCandidate(candidate)">Edit</button>
            <button class="delete-btn" (click)="deleteCandidate(candidate)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Mobile Cards -->
  <div class="mobile-only">
    <div class="candidate-card" *ngFor="let candidate of pagedCandidates; let i = index">

      <div class="card-header">
        <span class="index">#{{ i + 1 }}</span>
        <span class="title">{{ candidate.memberName }}</span>

      </div>
      <div class="card-dates">
        <span>Position: {{ candidate.positionName  }}</span>
        <span>End: {{ candidate.applicationReason  }}</span>
      </div>
      <div class="card-actions">
        <button class="details-btn" (click)="viewDetails(candidate)" title="Details">Details</button>
        <button class="edit-btn" (click)="editCandidate(candidate)">Edit</button>
        <button class="delete-btn" (click)="deleteCandidate(candidate)">Delete</button>
      </div>
    </div>
  </div>
  </div>


  <!-- Pagination -->
  <div class="pagination">
    <button [disabled]="currentPage === 1" (click)="prevPage()">Prev</button>
    <span>Page {{ currentPage }} of {{ totalPages }}</span>
    <button [disabled]="currentPage === totalPages" (click)="nextPage()">Next</button>
  </div>

  <!-- Modal -->
  <div class="modal" *ngIf="showModal">
    <div class="modal-content">
      <h2>{{ editMode ? 'Edit' : 'Add' }} Candidate</h2>

      <form (ngSubmit)="submitCandidate()">
        <!-- <label>Candidate Title</label>
        <input type="text" [(ngModel)]="modalCandidate?.memberId" name="title" required />

        <label>Start Date</label>
        <input type="date" [(ngModel)]="modalCandidate.startTime" name="startTime" required />

        <label>End Date</label>
        <input type="date" [(ngModel)]="modalCandidate.endTime" name="endTime" required />

        <div class="modal-actions">
          <button type="submit" class="save-btn">
            {{ editMode ? 'Update' : 'Create' }}
          </button>
          <button type="button" class="cancel-btn" (click)="closeModal()">
            Cancel
          </button>
        </div> -->
      </form>
    </div>
  </div>

</div>