<mat-sidenav-container class="sidenav-container">
  <!-- Side Nav -->
  <mat-sidenav #sidenav class="mobile-menu" mode="over" [opened]="false">

    <!-- Profile Section -->

    <div class="mobile-profile" *ngIf="authService.isLoggedIn() && !authService.hasRole('SuperAdmin'); ">
      <ng-container *ngIf="profileImageUrl; else initialsMobile">
        <img [src]="profileImageUrl" alt="User" class="avatar-img-mobile">
      </ng-container>
      <ng-template #initialsMobile>
        <div class="name-avatar-mobile">{{ userInitial }}</div>
      </ng-template>
      <div class="mobile-profile-info">
        <!-- <span class="mobile-username">{{ member?.fullName }}</span> -->
        <a mat-button class="profile-link" routerLink="/profile" (click)="sidenav.close()">View Profile</a>
      </div>
    </div>


    <!-- Menu Links -->
    <nav class="mobile-nav-links" *ngIf="!authService.hasRole('SuperAdmin');">
      <a mat-button (click)="sidenav.close()" routerLink="/" routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }">Home</a>
      <a mat-button (click)="sidenav.close()" routerLink="/election" routerLinkActive="active-link">Election</a>
      <a mat-button (click)="sidenav.close()" routerLink="/members" routerLinkActive="active-link">Dashboard</a>
      <a mat-button (click)="sidenav.close()" routerLink="/register" routerLinkActive="active-link">Register</a>
      <!-- <a mat-button (click)="sidenav.close()" routerLink="/directory" routerLinkActive="active-link">Directory</a> -->
      <a mat-button (click)="sidenav.close()" routerLink="/contact" routerLinkActive="active-link">Contact</a>
    </nav>
    <nav class="mobile-nav-links" *ngIf="authService.hasRole('SuperAdmin');">
      <a mat-button (click)="sidenav.close()" routerLink="/" routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }">Home</a>
      <a mat-button (click)="sidenav.close()" routerLink="dashboard/elections"
        routerLinkActive="active-link">Elections</a>
      <a mat-button (click)="sidenav.close()" routerLink="dashboard/positions"
        routerLinkActive="active-link">Positions</a>
      <a mat-button (click)="sidenav.close()" routerLink="dashboard/candidates"
        routerLinkActive="active-link">Candidates</a>
      <a mat-button (click)="sidenav.close()" routerLink="dashboard/vote-casts" routerLinkActive="active-link">Vote
        History</a>
      <a mat-button (click)="sidenav.close()" routerLink="/members" routerLinkActive="active-link">Members</a>
    </nav>

    <!-- Logout -->
    <div class="mobile-logout">
      <ng-container *ngIf="authService.isLoggedIn(); else loginBtnMobile">
        <button mat-stroked-button color="warn" class="logout-btn" (click)="logout(); sidenav.close()">Logout</button>
      </ng-container>
    </div>

    <ng-template #loginBtnMobile>
      <a mat-button (click)="sidenav.close()" routerLink="/login">Login</a>
    </ng-template>

  </mat-sidenav>




  <!-- Main Content -->
  <mat-sidenav-content class="layout-container">
    <div class="page-wrapper">
      <!-- Top Toolbar -->
      <mat-toolbar class="sky-glass">
        <div class="toolbar-content">
          <img src="logo.png" alt="Logo" class="logo-img" />
          <span class="logo">UPS Alumni Association</span>

          <!-- Hamburger Icon -->
          <button class="menu-button" mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>

          <!-- Desktop Menu -->
          <div class="desktop-menu">
            <a mat-button routerLink="/" routerLinkActive="active-link"
              [routerLinkActiveOptions]="{ exact: true }">Home</a>
            <a mat-button [routerLink]="authService.hasRole('SuperAdmin') ? '/dashboard/elections' : '/election'"
              routerLinkActive="active-link">Election</a>
            <a mat-button routerLink="/members" routerLinkActive="active-link">Dashboard</a>
            <a mat-button routerLink="/register" routerLinkActive="active-link">Register</a>
            <!-- <a mat-button routerLink="/directory" routerLinkActive="active-link">Directory</a> -->
            <a mat-button routerLink="/contact" routerLinkActive="active-link">Contact</a>

            <!-- Login / Logout -->
            <!-- <ng-container *ngIf="authService.isLoggedIn(); else loginBtn">
              <button mat-button (click)="logout()">Logout</button>
            </ng-container>
            <ng-template #loginBtn>
              <a mat-button routerLink="/login">Login</a>
            </ng-template> -->
            <!-- User Menu -->
            <ng-container *ngIf="authService.isLoggedIn(); else loginBtn">
              <button mat-button [matMenuTriggerFor]="userMenu" class="user-avatar-button">
                <ng-container *ngIf="profileImageUrl; else nameAvatar">
                  <img [src]="profileImageUrl" alt="User" class="avatar-img">
                </ng-container>
                <ng-template #nameAvatar>
                  <div class="name-avatar">{{ userInitial }}</div>
                </ng-template>
                <!-- <mat-icon>arrow_drop_down</mat-icon> -->
              </button>

              <mat-menu #userMenu="matMenu">
                <button mat-menu-item routerLink="/profile" *ngIf="!authService.hasRole('SuperAdmin')">
                  <mat-icon>person</mat-icon>
                  <span>Profile</span>
                </button>
                <button mat-menu-item (click)="logout()">
                  <mat-icon>logout</mat-icon>
                  <span>Logout</span>
                </button>
              </mat-menu>
            </ng-container>


            <ng-template #loginBtn>
              <a mat-button routerLink="/login">Login</a>
            </ng-template>

          </div>
        </div>
      </mat-toolbar>

      <!-- Scrollable Content -->
      <div class="content-area">
        <mat-progress-bar *ngIf="loadingService.loading$ | async" mode="indeterminate" color="accent"
          class="top-progress-bar"></mat-progress-bar>
        <router-outlet></router-outlet>
      </div>

      <!-- Mobile Footer -->
      <footer class="mobile-footer" *ngIf="isMobile$ | async">
        <nav class="footer-nav">
          <a mat-button routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
            <mat-icon>home</mat-icon>
            <span>Home</span>
          </a>
          <a mat-button [routerLink]="authService.hasRole('SuperAdmin') ? '/dashboard/elections' : '/election'"
            routerLinkActive="active-link">
            <mat-icon>how_to_vote</mat-icon>
            <span>Election</span>
          </a>
          <!-- Profile or Vote Result -->
          <ng-container *ngIf="!authService.hasRole('SuperAdmin'); else voteResultLink">
            <a mat-button routerLink="/profile" routerLinkActive="active-link">
              <mat-icon>person</mat-icon>
              <span>Profile</span>
            </a>
          </ng-container>

          <ng-template #voteResultLink>
            <a mat-button routerLink="/dashboard/vote-casts" routerLinkActive="active-link">
              <mat-icon>analytics</mat-icon>
              <span>Results</span>
            </a>
          </ng-template>
        </nav>
      </footer>


    </div>
  </mat-sidenav-content>
</mat-sidenav-container>