<header class="election-header">
    UPSAA নির্বাচন – ২০২৬
</header>

<div class="main-layout">

    <!-- Left Sidebar -->
    <div class="sidebar-left">

        <div class="member-info">
            <strong>আপনার তথ্য:</strong><br>
            নাম: {{ member?.fullName }}<br>
            ব্যাচ: {{ member?.batch }} |
            ভোটার: {{ member?.memberCode }}
        </div>

        <div class="instruction-section">
            <h3>নির্বাচনী নির্দেশনা</h3>

            <div class="info-card">
                ১. মনোনয়ন পত্রের সকল তথ্য নির্ভুলভাবে পূরণ করতে হবে।
            </div>

            <div class="info-card">
                ২. ডেটাবেজ তথ্যের সাথে মিল থাকা বাধ্যতামূলক।
            </div>

            <div class="info-card">
                ৩. ভুল তথ্য প্রদান করলে আবেদন বাতিল হতে পারে।
            </div>

            <div class="commissioner-sign">
                - প্রধান নির্বাচন কমিশনার, UPSAA
            </div>
        </div>

    </div>

    <!-- Right Form -->
    <div class="main-content">

        <div class="form-container">

            <h2>মনোনয়ন পত্র দাখিল</h2>

            <form (ngSubmit)="submitNomination()" #nominationForm="ngForm">

                <!-- Position -->
                <div class="form-group">
                    <label>পদের নাম নির্বাচন করুন</label>
                    <select [(ngModel)]="candidate.positionId" name="positionId"
                        (change)="onPositionChange(candidate.positionId)" required>
                        <option value="">-- নির্বাচন করুন --</option>
                        <option *ngFor="let p of positions" [value]="p.id">
                            {{ p.name }} (৳ {{ p.fee }})
                        </option>
                    </select>
                </div>

                <!-- Supporters -->
                <div class="form-group">
                    <label>সমর্থকগণের তথ্য</label>

                    <div *ngFor="let s of supporters; let i = index" class="support-inputs">


                        <input type="text" placeholder="UPSAA Id" [(ngModel)]="s.memberId" name="supporterId{{i}}"
                            (input)="updateApplicationReason()">
                        <input type="text" placeholder="Phone No" [(ngModel)]="s.phone" name="supporterName{{i}}"
                            (input)="updateApplicationReason()">
                    </div>

                    <button type="button" class="popup-btn" (click)="addSupporter()" *ngIf="supporters.length < 5">
                        + আরও সমর্থক যোগ করুন
                    </button>
                </div>

                <button class="submit-btn" type="submit">
                    মনোনয়ন পত্র সাবমিট করুন
                </button>

            </form>

        </div>

    </div>
</div>

<!-- Success Popup -->
<div class="overlay" *ngIf="showPopup"></div>

<div class="popup-container" *ngIf="showPopup">
    <div class="greeting-card" id="greetingCard">

        <div class="emoji">🎉✨</div>

        <h2>শুভেচ্ছা {{ member?.fullName }}!</h2>

        <p class="post-line">
            {{selectedPositionName}}, পদে আপনার মনোনয়ন সফলভাবে গ্রহণ করা হয়েছে।
        </p>

        <p class="update-line">
            নির্বাচন কমিশনের যাচাই বাছাইয়ের পর আপনার প্রার্থীতা সম্পর্কে আপডেট জানানো হবে।
        </p>
        <div
            style="background:#f0f4f7; padding:12px; border-radius:8px; width: 100%; border:1px solid #d1d9e0; box-sizing: border-box;">
            <strong style="font-size:14px; color:#004d40;">গুরুত্বপূর্ণ তারিখ:</strong><br>
            <div style="font-size:13px; text-align: left; display: inline-block;">
                • ২৮ ফেব্রুয়ারি ২০২৬: প্রার্থীতা চূড়ান্ত<br>
                • ১লা মে ২০২৬: ব্যালট নাম্বার প্রকাশ<br>
                • ১৩ মার্চ ২০২৬: ভোট গ্রহণ ও ফল প্রকাশ
            </div>
        </div>
        <p style="font-size:13px; margin-top: 15px;">সাথে থাকার জন্য ধন্যবাদ।<br><strong>- প্রধান নির্বাচন কমিশনার,
                UPSAA.</strong></p>


    </div>
    <div class="popup-buttons">
        <button class="btn-back" (click)="closePopup()">ফিরে যান</button>
        <button class="btn-download" (click)="downloadJPG()">শুভেচ্ছা বার্তা শেয়ার করুন</button>
    </div>
</div>