<div *ngIf="loading" class="loader-container">
  <div class="spinner"></div>
  <p>Loading ballot...</p>
</div>

<div class="voting-root" *ngIf="ballot">
  <header class="voting-header">
    <h1>{{ ballot.title }}</h1>
    <div class="voter-info">
      <div *ngIf="member"> হ্যালো, {{ member.fullName }} (ব্যাচ {{ member.batch }})</div>
      <div *ngIf="hasVoted" class="voted-badge">
        ✔ আপনি ইতোমধ্যে ভোট প্রদান করেছেন
      </div>
    </div>
  </header>

  <main class="voting-main">
    <section class="positions">
      <div *ngFor="let pos of ballot.positions; let i = index" class="position-card"
        [attr.aria-labelledby]="'pos-'+pos.id">
        <div class="position-header">
          <h2 id="{{'pos-'+pos.id}}">{{ pos.name }} <span class="selectMax">({{ pos.maxSelect === 1
              ? '১ জনকে ভোট দিন'
              : 'সর্বোচ্চ ' + toBanglaNumber(pos.maxSelect) + ' জনকে ভোট দিন' }})</span></h2>
          <!-- <div class="select-info">
            {{ pos.maxSelect === 1
            ? '১ জন প্রার্থী নির্বাচন করুন'
            : 'সর্বোচ্চ ' + toBanglaNumber(pos.maxSelect) + ' জন প্রার্থী নির্বাচন করতে পারবেন' }}
          </div> -->
        </div>

        <div class="candidates" role="list">

          <label *ngFor="let c of pos.candidates" class="candidate-card" [class.selected]="isSelected(pos.id, c.id)"
            tabindex="0">

            <input type="{{ pos.maxSelect === 1 ? 'radio' : 'checkbox' }}" name="pos-{{pos.id}}"
              [checked]="isSelected(pos.id, c.id)"
              (change)="toggleSelection(pos, c, $any($event.target).checked,$event)"
              [attr.aria-checked]="isSelected(pos.id, c.id) ? 'true' : 'false'" [disabled]="hasVoted" />
            <img *ngIf="isSelected(pos.id, c.id)" src="images/voteSeal.png" class="vote-seal" alt="Vote Seal" />
            <div class="candidate-body">

              <!-- Image -->
              <div class="candidate-image-wrapper">
                <img *ngIf="c.photo; else noImage" [src]="'images/CandidateProfile/' + c.photo" [alt]="c.name"
                  class="candidate-photo" />
                <!-- <img src="images/default-user.png" alt="No Image" class="candidate-photo" /> -->

                <ng-template #noImage>
                  <img src="images/default-user.png" alt="No Image" class="candidate-photo" />
                </ng-template>

                <!-- Ballot Badge -->
                <span *ngIf="c.batch" class="ballot-badge">
                  Batch :{{c.batch}}
                </span>

              </div>

              <!-- Info -->
              <div class="candidate-info">
                <div class="cand-name">
                  {{ c.name }}
                </div>

                <div class="cand-meta-row" *ngIf="c.ballotNumber">
                  <span class="ballot-label">Ballot No</span>
                  <span class="ballot-value">{{ c.ballotNumber }}</span>
                </div>
              </div>

            </div>
          </label>
        </div>

        <div class="position-footer">
          <button type="button" class="btn-clear" (click)="clearPosition(pos)" [disabled]="hasVoted">Clear</button>
          <div class="position-status"> {{ selectedCount(pos.id) === 0
            ? 'কেউ নির্বাচিত হয়নি'
            : toBanglaNumber(selectedCount(pos.id)) + ' জন নির্বাচিত' }}</div>
        </div>
      </div>
    </section>

    <aside class="summary">
      <h3>ভোটের সারাংশ</h3>
      <div *ngIf="!hasSelections()">এখনো কোনো প্রার্থী বাছাই করা হয়নি।</div>
      <ul>
        <li *ngFor="let pos of ballot.positions">
          <strong>{{ pos.name }}:</strong>
          {{ getSelectedNamesForPosition(pos) }}

          <ng-template #none><em>—</em></ng-template>
        </li>
      </ul>

      <div class="submit-area">
        <button class="btn-submit" (click)="confirmSubmit()" [disabled]="hasVoted || submitting || !hasSelections()">ভোট
          জমা দিন</button>
        <div *ngIf="submitting">জমা দেওয়া হচ্ছে...</div>
      </div>
    </aside>
  </main>

  <!-- Confirm modal -->
  <div class="modal-backdrop" *ngIf="showConfirm">
    <div class="modal" role="dialog" aria-modal="true" aria-labelledby="confirm-title">
      <mat-progress-bar *ngIf="submitting" mode="indeterminate">
      </mat-progress-bar>
      <h4 id="confirm-title">আপনি কি নিশ্চিত?</h4>
      <p>ব্যালট পুনরায় চেক করুন। একবার জমা দিলে আর পরিবর্তন করা যাবে না।</p>
      <!-- <ul>
        <li *ngFor="let pos of ballot.positions">
          <strong>{{ pos.name }}:</strong>
          {{ getSelectedNamesForPosition(pos) }}

          <ng-template #abstain><em>Abstain / no selection</em></ng-template>
        </li>
      </ul> -->

      <div class="modal-actions">
        <button class="submit-btn" (click)="submitVote()" [disabled]="submitting">হ্যাঁ,নিশ্চিত</button>
        <button class="cancel-btn" (click)="showConfirm=false" [disabled]="submitting">ফিরে যান</button>
      </div>
    </div>
  </div>

</div>
<!-- <div *ngIf="!ballot && showCountdown" class="countdown-wrapper">
  <h2 class="countdown-title">ভোট গ্রহণ শুরু হতে বাকি</h2>

  <div class="countdown">
    <div class="time-box" *ngFor="let item of timeUnits">
      <div class="number">
        <span class="animate">{{ item.value }}</span>
      </div>
      <div class="label">{{ item.label }}</div>
    </div>
  </div>
</div> -->