/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/azure-blue.css';

/* Error snackbar */
.mat-mdc-snack-bar-container.snackbar-error .mat-mdc-snackbar-surface {
  background-color: #f44336 !important;
  /* red */
}

.mat-mdc-snack-bar-container.snackbar-error .mat-mdc-snack-bar-label {
  color: #fff !important;
}

/* Success snackbar */
.mat-mdc-snack-bar-container.snackbar-success .mat-mdc-snack-bar-surface {
  background-color: #4caf50 !important;
  /* green */
}

.mat-mdc-snack-bar-container.snackbar-success .mat-mdc-snack-bar-label {
  color: #fff !important;
}

/* Material Icons */
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

html,
body {

  height: 100%;
  margin: 0;
  overflow: hidden; // prevents scrollbars on the body
}

.sidenav-container {
  height: 100vh;
  overflow: auto; // now only this container scrolls
}

@font-face {
  font-family: 'SolaimanLipi';
  src: url('/fonts/SolaimanLipi.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* styles.scss or styles.css */