<div id="success-view">
    <div #voterCard class="card">
        <div class="emoji">🎉</div>
        <h3>নির্বাচন কমিশন - UPSAA</h3>
        <p class="voter-name"><strong>{{voterName}}</strong></p>
        <p class="voter-info">সদস্য নাম্বার: {{memberCode}} | ব্যাচ: {{voterBatch}}</p>
        <p style="color:#64ffda; font-weight:bold; font-size:1.1rem;">ধন্যবাদ! আপনার ভোট প্রদান সফলভাবে সম্পন্ন হয়েছে।
        </p>
        <p class="extra-info">
            ভোট গ্রহণ শেষ হবে: ১৩ মার্চ, ২০২৬ (বিকেল ৪:০০ টা)<br>
            ফলাফল ঘোষণা: ১৩ মার্চ, ২০২৬ (রাত ১০:৩০ মিনিট)<br>
            - প্রধান নির্বাচন কমিশনার, UPSAA<br>
            <span>রাত ১০.৩০ মিনিটে UPSAA এর অফিসিয়াল ফেসবুক পেজে ফলাফল ঘোষণায় যুক্ত থাকতে অনুরোধ করছি।</span>
        </p>
    </div>

    <div class="card-actions">
        <button routerLink="/" class="action-btn cancel-btn">ফিরে যান</button>
        <button (click)="downloadCard()" class="action-btn success-btn">কার্ডটি শেয়ার করুন</button>
    </div>
</div>