<div id="success-view">
    <div #voterCard class="card">
        <div class="emoji">🎉</div>
        <h3>{{ 'voteCard.title' | translate }}</h3>
        <p class="voter-name"><strong>{{voterName}}</strong></p>
        <p class="voter-info">{{ 'voteCard.memberNumberLabel' | translate }} {{memberCode}} | {{ 'voteCard.batchLabel' | translate }} {{voterBatch}}</p>
        <p class="success-msg">{{ 'voteCard.successMsg' | translate }}
        </p>
        <p class="extra-info">
            {{ 'voteCard.votingEndsLabel' | translate }} {{ 'voteCard.votingEndsDate' | translate }}<br>
            {{ 'voteCard.resultAnnounceLabel' | translate }} {{ 'voteCard.resultAnnounceDate' | translate }}<br>
            {{ 'voteCard.commissionerSign' | translate }}<br>
            <span>{{ 'voteCard.fbNotice' | translate }}</span>
        </p>
    </div>

    <div class="card-actions">
        <button routerLink="/" class="action-btn cancel-btn">{{ 'voteCard.backButton' | translate }}</button>
        <button (click)="downloadCard()" class="action-btn success-btn">{{ 'voteCard.shareButton' | translate }}</button>
    </div>
</div>